.hal_1 {
  background-image: url(../public/coklat.png);
  background-size: cover;
  height: 90vh;
  width: 1470px;
  height: 924px;
}
.hal_1 h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 49px;
  margin-left: 250px;
  margin-top: -65px;
  color: #f9b23d;
}
.hal_1 .logo {
  margin-left: 130px;
  margin-top: -60px;
}
.hal_1 .logo_panah {
  padding-top: 40px;
  margin-left: 40px;
  padding-top: -90px;
  cursor: pointer;
}
.hal_1 .playerlogo p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  margin-left: 340px;
  margin-top: -90;
  color: #000000;
}
.hal_1 .com p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  padding-bottom: 40px;
  margin-left: 1000px;
  margin-top: -90px;
  color: #000000;
}
.player_com {
  margin-top: 50px;
}
.batu {
  margin-left: 350px;
  margin-top: -30px;
  padding-left: 100px5;
  cursor: pointer;
}
.batu img:hover {
  /* position: absolute; */
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.kertas {
  margin-left: 350px;
  margin-top: 40px;
  cursor: pointer;
}
.kertas img:hover {
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.gunting {
  margin-left: 350px;
  margin-top: 30px;
  cursor: pointer;
}
.gunting img:hover {
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.batu2 {
  margin-left: 990px;
  margin-top: -730px;
}
.kertas2 {
  margin-left: 990px;
  margin-top: 30px;
}
.gunting2 {
  margin-left: 990px;
  margin-top: 30px;
}
.kalkulasi {
  height: 200px;
  text-transform: uppercase;
}
.vs {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #bd0000;
  position: absolute;
  width: 296px;
  height: 186px;
  left: 589px;
  top: 319px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hasil {
  background-image: url(../public/Rectangle\ 67.png);
  position: absolute;
  width: 296px;
  height: 186px;
  left: 568px;
  top: 525.37px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 150px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-30.98deg);
  margin-top: -130px;
  margin-left: 40px;

  position: absolute;
  width: 271.11px;
  height: 166.93px;
  left: 561px;
  top: 489.89px;
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}
.active {
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.refresh {
  position: absolute;
  left: 697px;
  top: 643px;
}
