html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background-image: url(../public/Group\ 1.png);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}