.container {
  margin-right: 100px;
  margin-top: 40px;
  padding-left: 20px;
}
.logo {
  margin-left: 40px;
  margin-top: -70px;
}
.h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 180px;
  margin-top: -160px;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
}
