.nav {
  height: 50px;
  border-radius: 20px;
  color: rgba(152, 203, 233, 0.555);
  display: grid;
  justify-content: center;
  height: 100vh;
  display: inline;
  font-weight: bolder;
  display: inline-flexbox;
  line-height: 70px;
  padding-top: none;
  display: spece;
  grid-auto-columns: start;
  grid-auto-flow: column;
}
.a {
  color: white;
}
.a:hover {
  color: aqua;
  transition: 0.3s;
}
.ul {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  justify-content: right;
  background-position: 70px;
}
.li {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  padding: 10px;
  list-style-type: none;
  text-transform: white;
}
.li:hover {
  color: white;
}

.formOutPut {
  justify-content: center;
}
