.top {
  margin-top: 30px;
}
.alert {
  margin-top: 30px;
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container-Form {
  opacity: 0.8;
  margin-top: 300px;
  border-radius: 5px;
  color: whitesmoke;
}
.form {
  margin-top: -240px;
  color: white;
}
.form_h5 {
  justify-content: center;
  text-align: center;

  margin-top: 80px;
  color: white;
}
.photo {
  width: 100px;
  height: 100px;
}
.photo_img {
  border-radius: 50%;
}